body{
    background-color: antiquewhite;
}
.content h1{
    color: #ece6e6;
    padding: 0px 550px ;
    padding-top: 100px;
    font-size: 40px;
}
.convert{
    padding: 0px 550px ;
    padding-top: 40px;
    font-size: 30px;
    color: yellow;
}
.cell{
    padding-left: 20px;
  
 
  
}
.unit{
    padding-left: 25px;
}